<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Temmujin</display-name>
  <resource-ref>
    <res-ref-name>jdbc/xxx</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  

  
  
  
  <servlet>
    <description></description>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>events</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>eventcud</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventcud</servlet-name>
    <url-pattern>/do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>resources</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/resources</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>gyms</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gyms</servlet-name>
    <url-pattern>/gyms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>trainers</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trainers</servlet-name>
    <url-pattern>/trainers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>cudtrainers</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cudtrainers</servlet-name>
    <url-pattern>/cudtrainers</url-pattern>
  </servlet-mapping>
  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
  </context-param>

  
  
</web-app>